html, body{
  height: 100%;
  margin:0;
  padding:0;
  font-family:sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.background{
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-top: 60px;
}

.logo{
  width:40px;
  cursor:pointer;
  display: block;
  position: fixed; /* Fixed position */
  top: 15px; /* Same top value as your hamburger menu */
  left: 15px; /* Add some space from the left edge */
  z-index: 99999; /* Ensure it's above other items */
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  top: 15px;
  right: 15px;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 100;
}
.navbar ul li{
  list-style:none;
  display:inline-block;
  margin: 0 20px;
  position:relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform:uppercase;
}

.navbar ul li::after{
  content: '';
  height:3px;
  width: 0;
  background:#f5ec68;
  position: absolute;
  left:0;
  bottom:-10px;
  transition:0.5s;
}
.navbar ul li:hover::after{
  width:100%;

}
.nav-toggle:checked ~ .mobile-nav {
  display: block;
}
.background .home-link .logo {
  display: block; /* default state */
}

/* Hide logo when nav-toggle is checked - also with increased specificity */
.background #nav-toggle:checked ~ .home-link .logo {
  display: none;
}
.mobile-nav ul li a {
  /* ... existing styles ... */
  padding: 10px 0;
  display: block;
  color: #fff; /* White text color */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}
.mobile-nav ul li a:hover,
.mobile-nav ul li a:focus {
  background-color: transparent; /* Optional: Add or remove background color */
  text-decoration: underline; /* Underline the text */
  text-decoration-color: #f5ec68; /* Color of the underline */
}


.column {
  max-height:calc(100vh - 60px);
  overflow-y:auto;
  padding-top:60px;
  float: left;
  width: 60%;
}

.map {
  float: left;
  width: 35%;
  margin-left: 5%;
}

.background:after {
  content: "";
  display: table;
  clear: both;
}

/* Home 3 slideshow styling */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
width:60%;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
transform: translateY(-50%);
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
color: rgb(26, 26, 26);
background-color:#f5ec68;
font-weight: bold;
font-size: 18px;
transition: 2s ease;
border-radius: 0 3px 3px 0;
user-select: none;
z-index:102;
}
.next {
  right: 20vw;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #56430b;
  background-color: white; /* Semi-transparent white background */
  font-weight: bold;
  font-size: 15px;
  padding: 8px 16px; /* Add padding to create some space around the text */
  position: absolute;
  bottom: 10px; /* Position from the bottom of the .mySlides container */
  left: 10px; /* Position from the left of the .mySlides container */
  transform: none; /* Remove the translateX transformation */
  border-radius: 5px; /* Adjust as necessary for rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for depth */
  text-align: left; /* Aligns the text inside the .text container */
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.slidepic {
  width:60%;
  height:75vh;
  overflow: hidden;
}

.dot-container{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom:6vh; /* Position the dots at the bottom of the slideshow */
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d6ce73a9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
background-color: #131010cc;
}


.mySlides {position: relative;
  width: 100%; /* Set the width to match the image width */
  margin: auto; /* This will center the slide if the slideshow-container is wider than the images */}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #111;
  background-color: #ddd;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 48vh; /* Adjust this value as needed to bring the arrow closer to the image */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover { background-color: #f1f1f1; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover { background-color: #717171; }
.fade { animation-name: fade; animation-duration: 6000000000000s; }
@keyframes fade { from {opacity: 1} to {opacity: .9999} }

.signup-container {
  background: rgba(255, 255, 255, 0.8);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  color:white;
  margin-top:0;
}

.signup-form .form-group {
  margin-bottom: 15px;

}

.signup-form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.signup-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-btn {
  background-color: #f5ec68;
  color: #56430b;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #e5db62;
}



/***************************************************************************/


@media screen and (max-width: 600px) {
  .column div a img {
    min-height: 20vh ; /* or any size that fits well */
    width: 30vh !important; /* maintain aspect ratio */
    display: block;
    margin: -40 auto; /* center images if not full width */
  }
  .map img {
    max-height: 100px; /* adjust as needed */
    width: auto; /* maintain aspect ratio */
  }
  .column {
    padding-top: 60px; /* Adjust this value as needed to create space for the hamburger menu */
    float: none;
    margin: 0 auto;

  }
  .hamburger-menu { display: block; z-index: 9999;}
  .background { min-height: 100vh; align-items: flex-start; padding-top:100px;}
  .background::before, .background::after { content: none; }
  .navbar ul { display: none; }
  .navbar { flex-direction: column; align-items: center; width: 100%; padding: 10px 0; }
  .navbar ul li { width: 100%; text-align: center; }
  .navbar ul li a { padding: 10px 0; display: block; }
  .map, .slidepic { width: 100%; height: auto; left: 0; top: auto; position: relative; margin: 0 auto; }
  .navbar .mobile-nav { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 1000; }
  .nav-toggle:checked ~ .mobile-nav { display: block; position: fixed; top: 0; left: 0; }
  .column, .column div { margin: 5px 0; width: 100%; }
  .column div a img { width: 100%; height: auto; }
  .prev, .next { padding: 20px; margin-top: -30px; }
  .dot { height: 20px; width: 20px; }
  .text, .numbertext { font-size: 14px; }
  .column, .map { display: block; width: 100%; }
  .slideshow-container{
    width:100%
  }
  .prev{
    left:0;
  }
  .next{
    right:0;
  }
  .text{
    color: rgb(0, 0, 0);
    bottom:0;
    width:100%;
  }

}

@media screen and (orientation: landscape) {
  .background { background-size: contain; }
}