<!DOCTYPE html>
<html lang="en">
<head> <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Little Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class = "background">
        <div class ="navbar"><a href = "index.html">
            
            <img src="logo.png" alt = "home logo" class = "logo"></a>
            <ul>
                <li><a href = "home1.html">Home1</a></li>
                <li><a href = "home2.html">Home2</a></li>
                <li><a href = "home3.html">Home3</a></li>
                <li class="contact"><a href = "https://www.airbnb.com/users/show/265716900">Contact me at (928)-261-2590</a></li>
        </ul>
        </div>
        <div class= "column">
            <div><a href="home1.html"><img src="home1.jpg" width="33%;"></a></div>
            <div><a href="home2.html"><img src="home2.jpg" width="33%;"></a></div>
            <div><a href="home3.html"><img src="home3.jpg" width="33%;"></a></div>

        </div>

        <div class= "map"><a href="https://www.bing.com/search?q=paseo+jardines+de+babilonia+mexicali&FORM=AWRE"><img src="location1.png" width="40%;"height="350%;"></a></div>


    <script type = "text/javascript" src = "{{url_for('static', filename='index.js')}}"></script>
</body>
</html>