*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.background{
    width:100%;
    height: 161vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:50px;
    cursor:pointer;
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}

.navbar ul li::after{
    content: '';
    height:3px;
    width: 0;
    background:#f5ec68;
    position: absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}

.navbar ul li:hover::after{
    width:100%;

}

.column {margin-left: 10px; margin-bottom: 5px;}

.home1text a{
    text-decoration:none;
    position:absolute;    
    color:#fff;
    
    font-size:1.5em;
    font-weight:regular;
    left:450px;
    top:200px;
    width:80%;}

.home2text a{
    text-decoration:none;
    position:absolute;    
    color:#fff;
           
    font-size:1.5em;
    font-weight:regular;
    left:450px;
    top:430px;
    width:80%;}

.home3text a{
    text-decoration:none;
    position:absolute;    
    color:#fff;
               
    font-size:1.5em;
    font-weight:regular;
    left:450px;
    top:740px;
    width:80%;}


.map {text-decoration:none;
    position:absolute;    

    left:800px;
    top:300px;
    width:90%;
    height:100px;}

.maptext {
    text-decoration:none;
    position:absolute;    
    color:#fff;
           
    font-size:1.5em;
    left:850px;
    top:250px;
    width:80%;
}
